# --- Data & Math ---
numpy
pandas
scipy
tqdm
ipykernel
matplotlib

# --- Audio Processing ---
librosa
soundfile
num2words
encodec
demucs

# --- Evaluation & Metrics ---
laion-clap
torchmetrics
hydra-colorlog

# --- Model Utilities & Dependencies ---
flashy
gradio
torchtext
transformers
sentencepiece
huggingface_hub
einops
julius
omegaconf
hydra-core
av
spacy